/*Control global variables here*/
:root {
	/* Layout */
	--page-width: 1200px;
	--content-padding: 2rem;
	--logo-width: 400px;

	/* Typography */
	--main-font-family: 'Fira Code', novel-mono-pro, monospace;
	--heading-text-size: 24pt;
	--menu-item-size: 18pt;
	--text-size: 14pt;
	--line-height: 1.4;

	/* Colours */
	/* Characters */
	--cirne: #209920;
	--trale: #00A2FF;
	--ders: #E71004;
	/* Main colours */
	--background-colour: black;
	--foreground-colour: color-mix(in hsl, var(--background-colour), var(--text-colour) 5%);
	--text-colour: #ffffff;
	--link-colour: var(--cirne);
	--background-colour-light: color-mix(in hsl, var(--background-colour), var(--text-colour) 8%);

	/* Borders */
	--border-thickness: 2px;
	--border-radius: 4px;

	/* Shadow */
	--shadow: 0px 4px 4px var(--background-colour);
}

/* End global variables */

/* Begin private styles */
/* Desktop */
html {
	min-height: 100vh;
}

body {
	font-family: var(--main-font-family);
	background-color: var(--background-colour);
	color: var(--text-colour);
	font-size: var(--text-size);
	font-weight: 100;
	line-height: var(--line-height);
	margin: 0;
	min-height: inherit;
	background-image: url(/images/cutsceneborder.png), url(/images/cutsceneborder.png);
	background-position: left top, right top;
	background-repeat: repeat-y, repeat-y;
}

#logo {
	margin: 2rem;
}

#logo img {
	max-width: var(--logo-width);
	background-color: none;
	box-shadow: none;
}

div.page-width {
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: inherit;
	z-index: 2;
}

h1,
h3 {
	font-weight: 300;
}

h2 {
	font-weight: 400;
	font-size: 18pt;
	box-shadow: var(--shadow);
}

h2 a {
	color: var(--background-colour);
}

.letterhead {
	justify-content: center;
}

.letterhead svg {
	width: 2rem;
	height: auto;
	vertical-align: middle;
}

.letterhead a svg * {
	fill: var(--link-colour);
}

a {
	color: var(--link-colour);
}

hr {
	height: 0px;
	border: solid calc(var(--border-thickness) / 2) var(--trale);
	border-radius: var(--border-radius);
}

.menu a {
	color: var(--ders);
}

.title {
	font-size: var(--heading-text-size);
}

.page-width {
	width: var(--page-width);
	margin: auto;
}

.maincontainer {
	padding: 0 var(--content-padding);
	background-color: var(--foreground-colour);
	display: flex;
	flex-direction: column;
	min-height: inherit;
}

.maincontainer section {
	/* border: var(--border-thickness) solid var(--link-colour); */
	border-radius: var(--border-radius);
	/* padding: 2rem 0; */
}

.maincontainer section#article {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.maincontainer section h2 {
	padding: 0.5rem;
	background-color: var(--link-colour);
	color: var(--background-colour);
	border-radius: var(--border-radius);
}

img {
	/* border-radius: 32px; */
	box-shadow: var(--shadow);
	background-color: var(--background-colour-light);
	margin: 1rem auto;
}

table {
	margin: auto;
}

td:last-child {
	padding-left: 4rem;
}

#logo img {
	box-shadow: none;
}

#article img,
sub {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: calc(var(--content-padding) / 2);
}

.cropped {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: var(--shadow);
	background-color: var(--background-colour-light);
}

footer {
	display: flex;
	flex-direction: column;
	flex: 0;
	padding: 2rem 0;
}

.copyright {
	display: block;
	color: var(--link-colour);
	font-size: 10pt;
}

/* Mobile */
@media screen and (max-width: 749px) {
	.page-width {
		width: 100%;
	}

	.maincontainer {
		padding: calc(var(--content-padding) / 1.5);
	}

	.letterhead {
		justify-content: center;
	}

	#logo img {
		max-width: calc(var(--logo-width) - calc(var(--logo-width) / 2));
	}

	#Home {
		display: none;
		margin: 0;
	}

	#article img,
	sub {
		width: calc(100% - var(--content-padding));
	}

	.material-icons {
		font-size: 24pt;
	}

	td {
		padding: .25rem;
		border-bottom: 1px solid var(--ders);
	}
}

/* End private styles */